@model List<Pizza>

@{
    int col;
    if (Model.Count > 3)
    {
        col = 3;
    }
    else if(!Model.Any())
    {
        col = 12;
    }
    else{
        col = 12 / Model.Count;
    }
}

<main class="container text-center">

    <h1>Chi siamo</h1>

    <img src="/img/scroll.png" width=50% />

    <h1 class="my-3">Il nostro olimpo</h1>
    <p>Qui trovi le nostre pizze migliori, le grandi star del nostro pantheon</p>

    <div class="container-flex">

        <div class="row justify-content-center mb-3">
            @if (!Model.Any())
            {
                <h3>Il nostro olimpo è vuoto, ci scusiamo per il disagio</h3>
            }
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="col-lg-@col d-flex align-items-stretch">
                <div class="card mb-3">
                    <img src="@Model[i].Immagine" class="card-img-top" alt="..." width="600" height="300">
                    <div class="card-body">
                        <h5 class="card-title">@Model[i].Nome</h5>
                        <p class="card-text">@Model[i].Descrizione</p>
                            <a href="@Url.Action("Dettagli","Pizza",new{ID=Model[i].Id})" class="stretched-link"></a>
                    </div>
                </div>
            </div>
                @if (i == 2)
                {
                    i = Model.Count;
                }
            }
    </div>
    <div class="my-2"><a asp-controller="Pizza" asp-action="LeNostrePizze" class="text-black"><h2>Scopri le nostre pizze</h2></a></div>
    </div>

</main>
